.price-block_renge {
    padding: 20px 0;
}
.price-block_unit {
    display: grid;
    justify-content: center;
}
.price-block {
    /* box-shadow: 0px 0px 20px #21b7f3d3; */
    border-radius: 5px;
    background: #f734962f;
}
.price-text {
    font-size: 20px;
}
@media (max-width: 500px) {
    .price-text {
        font-size: 15px;
    }
}