
.promo {
    display: flex;
}
.promo-img {
    width: 40vw;
    margin-left: 30px;
    position: relative;
}
.promo-img_bg {
    margin-top: 7vw;
    background: linear-gradient( to right, #f73496d3, #ececec);
    height: 27vw;
    width: 95%;
    position: absolute;
}
.promo-bg {
    margin: 20px;
    display: grid;
    gap: 25px;
}
.promo-title {
    margin: 0;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 6vw;
    text-shadow: 1px 1px 3px #ffffff;
    text-transform: uppercase ;
    position: relative;
}
.promo-button {
    margin: 0 40px;
    padding: 8px;
    width: 25vw;
    height: 3vw;
    font-size: 2vw;
    color: #000;    
    background: linear-gradient(#dddddd94 10%, #fffbfbd2 50%, #636363a1 90%);
    border: 1px solid #838383;
    border-radius: 5px;
    text-align: center;
    text-decoration:none;
    text-transform: uppercase;
    position: relative;
}
.promo-button:hover {
    box-shadow: 0px 0px 15px #2bb5c7da;
    transform: scale(1.005);
    transition: all .1s;
}
.promo-text {
    position: relative; 
    font-size: 30px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
@media (max-width: 700px) {
    .promo-img {
        position: absolute;
    }
    .promo-title {
        width: 60vw;
        font-size: 50px;
        left: 30%;
    }
    .promo-button {
        left: 50%;
    }
    .promo-text {
        margin-top: 20px;
        text-align: center;
        background: linear-gradient( to right,#ececec 10%, #f73496d3 50%, #ececec 90%);
    }
    .promo-bg {
        margin-bottom: 0;
    }
}
@media (max-width: 500px) {
    .promo-title {
        width: 65vw;
        font-size: 35px;
    }
    .promo-bg {
        gap: 10px;
    }
    .promo-text {
        font-size: 15px;  
    }
    .promo-button {
        margin-top: 40px;
        left: 15%;
        width: 60vw;
        height: 10vw;
        font-size: 18px;
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}
@media (max-width: 360px) {
    .promo-title {
        width: 60vw;
        font-size: 25px;
    }
    .promo-text {
        margin: 0;  
    }

}