.types {
    display: grid;
    justify-content: center;
}
.types-buttons {
    display: flex;
    justify-content: center;
}
.types-work_button {
    font-size: 20px;
    margin: 0 10px;
    padding: 10px 15px;
    text-transform: uppercase;
    background: linear-gradient(#e9e7e7c7 20%, #3a3a3993 50%, #9e9e9ea1 80%);
    border: 1px solid #7e7e7ea1;
    border-radius: 5px;
    transition: all .2s;
}
.types-work_button:hover {
    box-shadow: 0px 0px 5px #f734969c;
    cursor: pointer;
}
.types-img {
    width: 500px;
    margin-left: 10px;
    box-shadow: 0px 0px 10px #f73496d3;
}
.types-room {
    display: flex;
    justify-content: center;    
    transition: all 1s ease-in-out;
}
h3{
    display: flex;
    justify-content: center;
    font-size: 30px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.none {
    display: none;
  }
.active {
    display: block;
    transition: all 1s ease-in-out;
}

@media (max-width: 850px) {
    h3 {
        margin-bottom: 5px;
    }
    .types-img {
        display: none;
    }
    .types-room {
        font-size: 20px;
        border: 2px solid #f7349688;
        border-radius: 5px;
    }
}
@media (max-width: 700px) {
    .types-buttons {
        display: grid;
        gap: 15px;
    }
    .types-work_button {
    font-size: 15px;
    }
}
@media (max-width: 500px)  {
    h3 {
        font-size: 20px;
    }
    .types-room {
        font-size: 15px
    }
}