footer {
    height: 40px;
    padding: 5px 15px 10px;
    display: none;
    justify-content: space-between;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    background: #535353;
}
.footer-text {
    width: 55px;
    margin: 3px;
    padding: 5px;
    border-radius: 5px;
    text-decoration: none;
    color: #d4d4d4d7;
    display: flex;
    align-items: center;
    font-family:Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    justify-content: center;
    line-height: 1;
    font-size: 12px;
    transition: all 0.2s;
}

@media (max-width: 650px) {
    footer {
        display: flex;
    }
}