.examples {
    margin-bottom: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(#ececec, #f7349688, #ececec)
  }
  .examples-slide_all {
    width: 800px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    overflow-x: scroll;
  }
  .examples-slide {
    width: 346px;
    margin: 10px 10px;
    padding: 10px 15px;
    /* scroll-snap-align: start; */
    border-radius: 20px;
    border: 2px solid #39e1ff67;
    box-shadow: 0px 0px 10px #000000;
  }
  .examples-vector {
    margin: auto 5px;
    width: 30px;
    transition: .25s;
    border-radius: 50%;
  }
  .examples-vector:hover {
    cursor: pointer;
    opacity: 0.8;
    transform: scale(1.25);
  }
  .examples-vector:active {
    box-shadow: 0px 0px 10px #000000;
  }
  ::-webkit-scrollbar {
    display: none;
  }